<form action='#' name='quizForm' onsubmit='return quizModule.submitAnswer()'>
    <fieldset>
        <legend>{{singleQuestion.question}}</legend>
        {{#each singleQuestion.choices}}
        <input type="radio" value="{{@index}}" name="answer" required {{shouldBeChecked @index ../previousAnswer}} />{{this}}<br/>
        {{/each}}

    </fieldset>

    <input type='button' value='Previous' onclick='quizModule.loadPreviousQuestion()'
        {{#if disabled}} disabled {{/if}}/>
    <input type='submit' value='Next' />
</form>
